body {
  background: #FFA033;
}

.navbar {
  background: #FFA033;
  border-radius: 0px;
  border-color: #FFA033;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

#brand {
  width: 150px;
  margin: 10px;
 }

.navbar-default .navbar-nav>li>a {
  text-decoration: none;
  color: #FFF;
  margin: 10px 15px 0 0;
  font-weight: 600;
  font-size: 20px;
  vertical-align: middle;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #FFA033;
  background-color: #FFF;
}

.wrapper {
  height: 1000px;
}

.jordan {
  background: 
    url(assets/background-header.jpg)
    no-repeat;
  background-size: cover;
  text-align: center;
  height: 900px;
}

.jordan .wrapper>img {
  padding-top: 150px;
}

.jordan .wrapper>a>button {
  padding: 10px 20px;
  margin-top: 50px;
}

#arrow{
  padding-top: 50px;
  width: 10%;
}

#about {
  background: #FFF;
}

.info {
  display: inline-block;
}

#the-cookies {
  background: 
    url(assets/background-cookies.jpg)
    no-repeat;
  background-size: cover;
}

.cookie {
  background: #FFF;
  display: inline-block;
  text-align: center;
}

#get {
  background: 
    url(assets/dunk-lebron.png)
    no-repeat
    #FFA033;
}

button {
  background: #FFA033;
  padding: 10px;
  color: #FFF;
  border: none;
  font-size: 30px;
  font-style: italic;
}