body {
  background: #FFA033;
}
h1 {
  color: #FFF;
}

h2 {
  color: #FFA033;
  font-size: 3.6em;
  font-weight: 600;
}

h4 {
  font-size: 2em;
  line-height: 1.5em;
}

h5 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 25px auto;

}

button {
  background: #FFA033;
  padding: 10px;
  color: #FFF;
  border: none;
  font-size: 30px;
  font-style: italic;
}

.navbar {
  background: #FFA033;
  border-radius: 0px;
  border-color: #FFA033;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

#brand {
  width: 150px;
  margin: 10px;
 }

.navbar-default .navbar-nav>li>a {
  text-decoration: none;
  color: #FFF;
  margin: 10px 15px 0 0;
  font-weight: 600;
  font-size: 20px;
  vertical-align: middle;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FFA033;
  background-color: #FFF;
}

.wrapper {
  height: 1000px;
}

.jordan {
  background: 
    url(assets/background-header.jpg)
    no-repeat;
  background-size: cover;
  text-align: center;
  height: 900px;
}

.jordan .wrapper>img {
  padding-top: 150px;
}

.jordan .wrapper>a>button {
  padding: 10px 20px;
  margin-top: 50px;
}

#arrow{
  padding-top: 75px;
  width: 10%;
}

.container {
  margin-top: 200px;
}

#about {
  background: #FFF;
}

.info {
  display: inline-block;
}

#the-cookies {
  background: 
    url(assets/background-cookies.jpg)
    no-repeat;
  background-size: cover;
}

.cookie-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 250px;
}

.cookie {
  background: #FFF;
  text-align: center;
  margin-right: 50px;
  padding: 40px;
  width: 350px;
}

.cookie button {
  width: 100%;
}

#get {
  text-align: center;
}

.get-content {
  background: 
    url(assets/dunk-lebron.png)
    center
    no-repeat
    padding-box;
  background-size: contain;
  width: 75%;
  height: 75%;
  margin: 0 auto;
  margin-top: 150px;
  padding-top: 150px;
  vertical-align: center;
}
