body {
  background: #FFA033;
  font-size: 62.5%;
}

h1 {
  color: #FFF;
  font-size: 11em;
  font-weight: 600;
  margin-bottom: 30px;
}

h2 {
  color: #FFA033;
  font-size: 7em;
  font-weight: 600;
}

h4 {
  font-size: 3.5em;
  line-height: 1.5em;
  font-weight: 400;
}

h5 {
  font-size: 2.5em;
  font-weight: 300;
  margin: 25px auto;

}

button {
  background: #FFA033;
  padding: 10px;
  color: #FFF;
  border: none;
  font-size: 30px;
  font-style: italic;
  transition: 0.4s ease background;
}

button:hover {
  background: #F28300;
}

.navbar {
  background: #FFA033;
  border-radius: 0px;
  border-color: #FFA033;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

#brand {
  width: 150px;
  margin: 10px;
 }

.navbar-default .navbar-nav>li>a {
  text-decoration: none;
  color: #FFF;
  margin: 10px 15px 0 0;
  font-weight: 600;
  font-size: 20px;
  vertical-align: middle;
  transition: 0.4s ease background;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FFA033;
  background-color: #FFF;
}

.wrapper {
  height: 1000px;
}

.jordan {
  background: 
    url(assets/background-header.jpg)
    no-repeat;
  background-size: cover;
  text-align: center;
  height: 900px;
}

.jordan .wrapper>img {
  padding-top: 150px;
}

.jordan .wrapper>a>button {
  padding: 10px 20px;
  margin-top: 50px;
}

#arrow{
  padding-top: 75px;
  width: 10%;
}

.container {
  margin-top: 200px;
}

#about {
  background: #FFF;
}

.info {
  display: inline-block;
}

#the-cookies {
  background: 
    url(assets/background-cookies.jpg)
    no-repeat;
  background-size: cover;
}

.cookie-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cookie {
  background: #FFF;
  text-align: center;
  margin-right: 3%;
  padding: 2%;
  width: 25%;
}

.cookie button {
  width: 100%;
}

@media (max-width: 585px){
  .cookie-wrapper {
    margin-top: 30px;
  }

  .cookie {
    width: 50%;
    margin-bottom: 20px;
  }

  .cookie button {
    font-size: 3em;
  }
}

#get {
  text-align: center;
}

.get-content {
  background: 
    url(assets/dunk-lebron.png)
    center
    no-repeat
    padding-box;
  background-size: contain;
  width: 75%;
  height: 75%;
  margin: 0 auto;
  margin-top: 150px;
  padding-top: 150px;
  vertical-align: center;
}

#mc_embed_signup{
  background: transparent;
  font:14px Helvetica,Arial,sans-serif; 
  width:100%;
}

#mc_embed_signup input.email {
  border: 1px solid #FFF;
  font-size: 3em;
  height: 100px;
  width: 55%;
  margin-right: -10px;
  padding: 20px;
  border-radius: 0px;
}

#mc_embed_signup .button {
  background: #F28300;
  border-radius: 0px;
  border: 2px solid #F28300;
  height: 100px;
  width: 100%;
  margin: 0px;
  font-style: italic;
  font-size: 2em;
}

#mc_embed_signup .button:hover {
  color: #FFF;
  background-color: #FFA033;
  border: 2px solid #F28300;
}

@media (max-width: 768px) {
  h1 {
    font-size: 5em;
  }

  #mc_embed_signup input.email {
    width: 100%;
    font-size: 2em;
    margin: 0;
  }
  .container {
    margin-top: 100px;
  }
}